div.theorem_thmcontent {
	border-left: .15rem solid black;
}

div.proposition_thmcontent {
	border-left: .15rem solid black;
}

div.lemma_thmcontent {
	border-left: .1rem solid black;
}

div.corollary_thmcontent {
	border-left: .1rem solid black;
}

div.proof_content {
	border-left: .08rem solid grey;
}

figure.subfloat span.subref {
	display: none;
}

nav.local_toc ul {
	font-size: 1.2rem;
}

@media (min-width:1024px) {
    nav.toc {
        width: 25vw;
    }
}

@media (min-width:1024px) {
    div.with-toc {
        margin-left:25vw;
    }
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, h1, h2, h3, h4, h5, h6, p, text {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
