# https://github.com/pyinvoke/invoke/issues/891
invoke==2.2.0
plasTeX @ git+https://github.com/plastex/plastex.git
plastexdepgraph @ git+https://github.com/PatrickMassot/plastexdepgraph.git
plastexshowmore @ git+https://github.com/PatrickMassot/plastexshowmore.git
leanblueprint @ git+https://github.com/PatrickMassot/leanblueprint.git
watchfiles==0.16.1
pandoc==2.3
